form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button{
    margin: 20px 15px 0 0;
}

table{
    width: 100%;
}

.edit{
    margin-right: 10px;
}

.edit > i{
    color: #f0e10f;
}
.delete > i{
    color: #e35e6b
}
